* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
a,
button {
  all: unset;
}

.wrap {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
/* 홈페이지 메인 전체 영역 -------------------------------------------------------------- */
.home-page {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  padding: 0;
}

/* 홈 섹션 공통 영역 -----------------------------------------------------------------------*/
.home-section {
  width: calc(100% -1rem);
  max-width: 1136px;
  margin: 0 0.5rem;
}

/* 운세 확인 배너 영역 -----------------------------------------------------------------*/
.banner-wrap {
  margin: 0;
}

.home-section__wrap {
  display: flex;
  flex-flow: column nowrap;
}

.checkLuckBanner {
  cursor: pointer;
  margin: 2rem 0;
}

.luck-mobile {
  display: inline-block;
}

.luck-desktop {
  display: none;
}
/* 유저 인테리어 리뷰 영역 -----------------------------------------------------------------*/
.home-section__tit {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 0;
}

.home-section__tit__wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.user-review__content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.user-review__item {
  flex: 0 0 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.user-review__item:hover img {
  transform: scale(108%);
}

.user-review__item a article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.user-review__img__wrap {
  flex: 0 0 35%;
  overflow: hidden;
  border-radius: 8px;
}

.user-review__img__wrap img {
  width: 100%;
  transition: 0.4s;
  vertical-align: bottom;
}

.user-review__details {
  flex: 0 0 calc(64% - 1rem);
  padding: 4px 0 0 12px;
}

.user-review__star {
  color: #35c5f0;
  letter-spacing: -1px;
  font-size: 0.8rem;
}

.user-review__text p {
  height: 3.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  margin-top: 6px;
}

.user-review__bland {
  font-weight: 600;
  margin-top: 0.8rem;
}

.poular-item__more__desktop {
  display: none;
}

.poular-item__more__mobile {
  font-weight: 700;
  width: 100%;
  height: 49px;
  line-height: 49px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.poular-item__more__mobile:hover {
  background-color: #d8d8d8;
}

/* 데스크탑 */
@media screen and (min-width: 785px) {
  /*  스크린의 크기가 768을 넘게 되면 해당 스타일을 적용 */

  /* 785px 홈 페이지 전체 영역 -------------------------------------*/
  .container {
    margin: 0 auto;
  }

  .home-page {
    margin: 0 50px;
  }

  .poular-item__more__mobile {
    display: none;
  }

  .poular-item__more__desktop {
    display: inline-block;
    color: #35c5f0;
    font-weight: 700;
    cursor: pointer;
  }

  /* 운세 배너 영역 */
  /* .checkLuckBanner {
    margin: 0;
  } */

  .luck-mobile {
    display: none;
  }

  .luck-desktop {
    display: inline-block;
  }

  /* 유저 인테리어 리뷰 영역 */
  .user-review__content {
    flex-direction: row;
  }

  .user-review__item {
    flex: 1 1 calc(100% / 3);
  }

  .user-review__item a article {
    flex-flow: column nowrap;
  }

  .user-review__item:nth-child(2) {
    margin: 0 1rem;
  }

  .user-review__img__wrap {
    flex: 0 0 100%;
  }

  .user-review__details {
    padding-top: 1em;
  }
}
